@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Baloo+Tammudu+2&display=swap');
.main-caption{
  text-decoration: none;
  color: aqua;
  font-size: 1.6em;
  
}

.info{
  background-color: rgb(198, 240, 231);
  font-family: 'Akaya Telivigala', cursive;
  font-size: 1.8em;
}
  
.port{
  color: rgba(250, 1, 55, 0.692);
}

.sik{
  font-family: 'Baloo Tammudu 2', cursive;
}