body{
  font-size: 17px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #926239;
  line-height: 1.8;
  text-align: center;

}
*{
  margin: 0;
  padding: 0;
}
#showcase{
  background-image: url(../image/beachshowcase.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: block inline inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  
}
.h1{
  font-size: 50px;
  line-height: 1.2;
  display: block;
  font-weight: bold;
}
.button{
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 12px;
  margin-top: 20px;
}
#section-a{
  padding: 20px;
  background: #926239;
  color: white;
}
#section-b{
  background: #f4f4f4;
  padding: 20px;
}
#section-c{
  display: block inline inline-block;
}
.box-1{
  display: block;
  background: #926239;
  color: #f4f4f4;
}
.box-2{
  background: #f4f4f4;
}
.box-3{
  background: #926239;
  color: #f4f4f4;
}